* {
  font-family: "gilroyextrabold";
}

html, body {
  margin: 0px;
  padding: 0px;
  position: relative;
}

.container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  height: 400px;
  background-color: rgba(240, 198, 46, 0.5254901961);
  margin-top: 100px;
}
.header a {
  color: #000;
}
.header_logo {
  position: absolute;
  top: -25%;
  font-size: 60px;
  font-weight: 800;
}
.header_menu {
  display: inline-flex;
  width: 100%;
  padding-top: 50px;
}
.header_nav {
  display: inline-flex;
  width: 100%;
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}
.header_search {
  display: flex;
  width: 600px;
}
.header_search_input {
  padding: 0 15px;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 0, 0, 0.3);
  font-family: "gilroylight";
}
.header_login {
  width: 300px;
}
.header_compare {
  width: 140px;
}
.header_cart {
  width: 100px;
}
.header_catalog {
  width: 600px;
}
.header_devilery {
  width: 140px;
}
.header_garant {
  width: 300px;
}
.header_contact {
  margin-right: 5px;
}
.header_icon {
  margin-right: 5px;
}
.header_icon_plus {
  margin-left: 10px;
  opacity: 0.4;
}

.sliderr {
  height: 480px;
  background-color: rgb(24, 176, 103);
}

html, body {
  height: 100%;
  margin: 0;
}

.slider, .slider .imgs {
  width: 100%;
  height: 100%;
  max-height: 300px;
  position: relative;
}

.slider {
  height: 75%;
  max-height: 300px;
}

.slider .imgs {
  display: flex;
  overflow: hidden;
}

.slider .img {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  left: 100%;
  /* animation duration can't be greater than variable interval in JS! */
  /* check JS for other settings */
  -webkit-animation: 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0s left;
          animation: 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0s left;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-size: cover !important;
  background-position: 50% !important;
}

/* Change images here */
.slider .img:nth-of-type(1) {
  background: url("https://images.unsplash.com/photo-1441974231531-c6227db76b6e");
}

.slider .img:nth-of-type(2) {
  background: url("https://images.pexels.com/photos/36764/marguerite-daisy-beautiful-beauty.jpg");
}

.slider .img:nth-of-type(3) {
  background: url("https://wallpapercave.com/wp/9F6GsSn.jpg");
}

.slider .img:nth-of-type(4) {
  background: url("https://k60.kn3.net/taringa/F/C/6/8/4/5/VCLR/3E9.jpg");
}

.slider .img span {
  padding: 7px 20px;
  background: rgba(0, 0, 0, 0.8);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: #f0f0f0;
  font-size: 14px;
  font-family: sans-serif;
}

.dots {
  position: absolute;
  bottom: -18px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.dot {
  width: 8px;
  height: 8px;
  background: gray;
  border-radius: 50%;
  margin: 0 3px;
  cursor: pointer;
}

.active-dot {
  background: #3f3f3f;
  cursor: default;
}

@-webkit-keyframes leftNext {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@keyframes leftNext {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes leftCurr {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@keyframes leftCurr {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@-webkit-keyframes rightNext {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes rightNext {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes rightCurr {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@keyframes rightCurr {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
.catalog {
  height: 300px;
}
.catalog_container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.catalog_icon {
  position: relative;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 198, 46, 0.5058823529);
}
.catalog_icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.catalog_title {
  margin-top: 40px;
}
.catalog a {
  text-decoration: none;
  color: #000;
}

.promo {
  position: relative;
  margin-top: 80px;
  height: 320px;
  z-index: 1;
}
.promo_bg {
  position: absolute;
  height: 288px;
  width: 100%;
  top: 30px;
  background-color: #e5e5e5;
  z-index: 0;
}
.promo_container {
  display: flex;
  z-index: 1;
}
.promo_nav {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: -60px;
  width: 280px;
}
.promo_nav_item {
  display: flex;
  align-items: center;
  margin: 15px 0;
  height: 40px;
}
.promo_nav_title {
  width: 160px;
  height: 8px;
  background-color: #f0c52e;
  font-size: 18.5px;
  font-weight: 800;
  line-height: 9.5px;
  letter-spacing: 3.7px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}
.promo_nav_title:hover {
  padding-left: 25px;
  width: 255px;
  height: 40px;
  background-color: #000;
  font-size: 18.5px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: 3.7px;
  text-align: left;
  color: #f0c52e;
}
.promo_nav_title_active {
  padding-left: 25px;
  width: 255px;
  height: 40px;
  background-color: #000;
  font-size: 18.5px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 3.7px;
  text-align: left;
  color: #f0c52e;
}
.promo_line {
  position: relative;
  top: -60px;
  width: 7px;
  height: 319px;
  background-color: #000;
}
.promo_body {
  margin-left: 120px;
}
.promo_body_title {
  font-size: 47.5px;
  font-weight: 800;
  line-height: 47.5px;
  letter-spacing: 0.48px;
  text-align: left;
  color: #000;
}
.promo_body_subtitle {
  margin-top: 45px;
  font-family: "gilroylight";
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  text-align: left;
  color: #464646;
}
.promo_logo {
  margin-top: 15px;
  margin-left: 100px;
}

.company {
  height: 140px;
}
.company_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}
.company_logo {
  width: 260px;
  height: 100px;
}

.about {
  height: 550px;
  background-color: rgb(134, 11, 206);
}

.footer {
  background-color: #464646;
  height: 320px;
}
.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 320px;
}
.footer_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_head_ul {
  display: flex;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style-type: none;
}
.footer_head_li {
  margin-left: 35px;
}
.footer_head_li a {
  font-family: "gilroylight";
  text-decoration: none;
  width: 42px;
  height: 11px;
  opacity: 0.7;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-align: right;
  color: rgba(255, 255, 255, 0.7);
}
.footer_head img {
  margin-right: 8px;
  fill: #ffc600;
}
.footer_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.footer_body_ul {
  display: flex;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style-type: none;
}
.footer_body_li a {
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #fff;
}
.footer_foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_logo {
  font-size: 60px;
  font-weight: 800;
  color: #ffc600;
}
.footer_adr {
  font-family: "gilroylight";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}
.footer_tel {
  font-family: "gilroylight";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  text-align: right;
  color: rgba(255, 255, 255, 0.7);
}
.footer_social {
  display: flex;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style-type: none;
}
.footer_social_item {
  margin: 0 10px;
  width: 32px;
  height: 32px;
}
.footer_social_item img {
  opacity: 0.4;
}
.footer_hr {
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

@font-face {
  font-family: "opensans";
  src: url(/fonts/web/opensans.woff) format("woff"), url(/fonts/web/opensans.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "opensanslight";
  src: url(/fonts/web/opensanslight.woff) format("woff"), url(/fonts/web/opensanslight.woff2) format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "gilroylight";
  src: url(/fonts/web/gilroylight.woff) format("woff"), url(/fonts/web/gilroylight.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "gilroyextrabold";
  src: url(/fonts/web/gilroyextrabold.woff) format("woff"), url(/fonts/web/gilroyextrabold.woff2) format("woff2");
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */