.catalog {
    height: 300px;
    &_container {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
    &_icon {
        position: relative;
        width: 160px;
        height: 160px;
        background-color: #f0c62e81;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &_title {
        margin-top: 40px;
    }
    a {
        text-decoration: none;
        color: #000;
    }
}