.company {
    height: 140px;
    &_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 140px;

    }
    &_logo {
        width: 260px;
        height: 100px;
    }
}